main {
    background-color: white;
    padding: 1rem;
    border-radius: 10%;

    h1 {
        text-align: left;
    }

    h1, h2, label, input, p {
        color: black;
    }

    input {
        background-color: white;
    }
}

